@charset "UTF-8";
/*上下飄動*/
.uptodown-play {
  -webkit-animation: uptodown-play 1.5s infinite alternate;
  animation: uptodown-play 1.5s infinite alternate;
}

@-webkit-keyframes uptodown-play {
  0% {
    -webkit-transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@keyframes uptodown-play {
  0% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.img img {
  height: 100%;
  width: 100%;
}

.wrap {
  max-width: 1700px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.mainContent {
  overflow: clip;
}
.mainContent .container {
  max-width: 1700px;
  padding-left: 30px;
  padding-right: 30px;
}

.pageTitle {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 36px;
  font-weight: normal;
  display: none;
}
@media (max-width: 1080px) {
  .pageTitle {
    font-size: 2rem;
  }
}
@media (max-width: 6400px) {
  .pageTitle {
    font-size: 1.5rem;
  }
}

.picRadius {
  border-radius: 40px;
  overflow: hidden;
}

.pageBanner {
  position: sticky;
  top: 0;
}
.pageBanner::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pageBannerTitleText {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 299px;
  padding-left: 50px;
}
@media (max-width: 1536px) {
  .pageBannerTitleText {
    top: 190px;
  }
}
@media (max-width: 1112px) {
  .pageBannerTitleText {
    top: 120px;
  }
}
@media (max-width: 991px) {
  .pageBannerTitleText {
    top: 85px;
  }
}
@media (max-width: 820px) {
  .pageBannerTitleText {
    top: 240px;
  }
}
@media (max-width: 480px) {
  .pageBannerTitleText {
    top: 160px;
    font-size: 3rem;
  }
}
@media (max-width: 390px) {
  .pageBannerTitleText {
    top: 120px;
    font-size: 3rem;
  }
}

@media (max-width: 820px) {
  .pageMainBanner-pc {
    display: none;
  }
}

.pageMainBanner-mb {
  display: none;
}
@media (max-width: 820px) {
  .pageMainBanner-mb {
    display: block;
  }
}

.mainContent {
  background-color: #fff;
  border-radius: 5rem 5rem 0 0;
  position: relative;
  top: -70px;
  z-index: 3;
  min-height: 500px;
}
@media (max-width: 991px) {
  .mainContent {
    border-radius: 3rem 3rem 0 0;
  }
}
.mainContent.scrolled-down {
  top: 0;
}

.pageContent {
  padding-top: 75px;
}

.pageBreadcrumb .breadcrumb {
  padding-top: 30px;
  background: rgba(0, 0, 0, 0);
}
.pageBreadcrumb .breadcrumb li:last-child a {
  color: #002080;
  font-weight: bold;
}
.pageBreadcrumb .breadcrumb li a {
  font-size: 19px;
  color: #222;
}
@media (max-width: 991px) {
  .pageBreadcrumb .breadcrumb li a {
    font-size: 1rem;
  }
}

.breadcrumbBlock {
  padding-left: 30px;
  padding-right: 30px;
}

.breadcrumb li + li:before {
  content: "/";
  color: #222;
}

.pageCategory {
  margin-top: 35px;
}
@media (max-width: 991px) {
  .pageCategory {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 640px) {
  .pageCategory {
    overflow-x: scroll;
  }
}
.pageCategory .categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 640px) {
  .pageCategory .categoryList {
    width: 600px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.pageCategory .categoryList li {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
@media (max-width: 991px) {
  .pageCategory .categoryList li {
    margin: 10px;
  }
}
.pageCategory .categoryList li.isActive a {
  color: #fff;
}
.pageCategory .categoryList li.isActive a span {
  background-color: #002080;
  border-color: #002080;
}
.pageCategory .categoryList li:hover a {
  color: #fff;
}
.pageCategory .categoryList li:hover a span {
  background-color: #002080;
  border-color: #002080;
}
.pageCategory .categoryList li a {
  font-size: 19px;
}
.pageCategory .categoryList li a span {
  padding: 10px 17px;
  border-radius: 99em;
  border: solid 2px #E0E0E0;
}
@media (max-width: 991px) {
  .pageCategory .categoryList li a span {
    display: block;
  }
}

.categoryDropdown option.active {
  background-color: #002080;
  color: #fff;
}

.cardList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cardList ul li {
  width: calc(33.3333333333% - 50px);
  margin-left: 25px;
  margin-right: 25px;
}
.cardList ul li .img {
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: hidden;
}
.cardList ul li .information {
  padding: 30px;
}
.cardList ul li .information .category {
  margin-bottom: 10px;
}
.cardList ul li .information .category span {
  border: solid 2px #E0E0E0;
  padding: 6px 15px;
  border-radius: 99em;
  font-size: 13px;
}
.cardList ul li .information .productName {
  font-size: 16px;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/
/*

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
*/
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.titleL {
  font-size: 60px;
  font-weight: bold;
}
@media (max-width: 1440px) {
  .titleL {
    font-size: 3rem;
  }
}
@media (max-width: 1112px) {
  .titleL {
    font-size: 2rem;
  }
}

.textTitle {
  font-size: 23px;
  color: #002080;
}

.infoBlock {
  min-height: 780px;
  position: relative;
}
@media (max-width: 1440px) {
  .infoBlock {
    min-height: 650px;
  }
}
@media (max-width: 1112px) {
  .infoBlock {
    min-height: 560px;
  }
}
@media (max-width: 1080px) {
  .infoBlock {
    min-height: 590px;
  }
}
@media (max-width: 480px) {
  .infoBlock {
    min-height: auto;
  }
}
.infoBlock .ctrlImgBlock {
  position: absolute;
}
@media (max-width: 991px) {
  .infoBlock .ctrlImgBlock {
    position: static;
  }
}
.infoBlock .ctrlImgBlock .imgBlock {
  position: relative;
}
.infoBlock .ctrlImgBlock .imgBlock .pdImg {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.aboutTextLeft .img {
  border-radius: 99em 0 0 99em;
  overflow: hidden;
  aspect-ratio: 6/4;
}

.aboutTextRight .ctrlImgBlock {
  left: 0;
}
.aboutTextRight .ctrlImgBlock .img {
  border-radius: 0 99em 99em 0;
  overflow: hidden;
  aspect-ratio: 6/4;
}
@media (max-width: 1536px) {
  .aboutTextRight .ctrlImgBlock .img {
    width: 80%;
  }
}
@media (max-width: 1366px) {
  .aboutTextRight .ctrlImgBlock .img {
    width: 70%;
  }
}
@media (max-width: 1112px) {
  .aboutTextRight .ctrlImgBlock .img {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .ecoFriendly {
    margin-bottom: 150px;
  }
}
.ecoFriendly .textInformation {
  padding-top: 150px;
  padding-right: 150px;
}
@media (max-width: 1536px) {
  .ecoFriendly .textInformation {
    padding-left: 50px;
    padding-top: 100px;
  }
}
@media (max-width: 1440px) {
  .ecoFriendly .textInformation {
    padding-top: 100px;
  }
}
@media (max-width: 1366px) {
  .ecoFriendly .textInformation {
    padding-right: 75px;
  }
}
@media (max-width: 1080px) {
  .ecoFriendly .textInformation {
    padding-top: 0;
  }
}
@media (max-width: 991px) {
  .ecoFriendly .textInformation {
    padding-right: 0;
    padding-left: 0;
  }
}
.ecoFriendly .ctrlImgBlock .pdImg {
  position: absolute;
  bottom: -150px;
  left: 166px;
}
@media (max-width: 480px) {
  .ecoFriendly .ctrlImgBlock .pdImg {
    left: 0;
  }
}
@media (max-width: 991px) {
  .ecoFriendly .ctrlImgBlock .img {
    border-radius: 30px;
  }
}

.health .textInformation {
  padding-top: 140px;
  padding-left: 140px;
}
@media (max-width: 1536px) {
  .health .textInformation {
    padding-right: 90px;
    padding-top: 20px;
  }
}
@media (max-width: 1440px) {
  .health .textInformation {
    padding-top: 0px;
  }
}
@media (max-width: 1112px) {
  .health .textInformation {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1080px) {
  .health .textInformation {
    padding-left: 70px;
  }
}
@media (max-width: 991px) {
  .health .textInformation {
    padding-left: 0;
  }
}
@media (max-width: 1440px) {
  .health .ctrlImgBlock .img {
    max-width: 80%;
  }
}
@media (max-width: 1112px) {
  .health .ctrlImgBlock .img {
    max-width: 60%;
  }
}
@media (max-width: 991px) {
  .health .ctrlImgBlock .img {
    max-width: 100%;
    border-radius: 30px;
    width: 100%;
  }
}

.aboutCenterText .pic {
  aspect-ratio: 4/6;
  max-width: 331px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1080px) {
  .aboutCenterText .pic {
    margin-top: 100px;
  }
}
.aboutCenterText .text {
  padding-top: 180px;
}
@media (max-width: 1080px) {
  .aboutCenterText .text {
    padding-top: 70px;
  }
}
.aboutCenterText .picOuside {
  text-align: center;
  aspect-ratio: 4/5;
  overflow: hidden;
}
@media (max-width: 480px) {
  .aboutCenterText .picOuside {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .aboutCenterText .row > * {
    width: auto;
    margin: auto;
  }
}

.earthBgLine {
  background: url(../images/company/earthbg.png) no-repeat;
  padding-top: 155px;
  background-size: contain;
}
@media (max-width: 1112px) {
  .earthBgLine {
    padding-top: 70px;
  }
}
@media (max-width: 991px) {
  .earthBgLine {
    padding-top: 0;
  }
}
.earthBgLine .textInformation {
  padding-left: 165px;
  padding-right: 230px;
  padding-top: 165px;
}
@media (max-width: 1536px) {
  .earthBgLine .textInformation {
    padding-right: 100px;
  }
}
@media (max-width: 1440px) {
  .earthBgLine .textInformation {
    padding-right: 100px;
    padding-top: 100px;
  }
}
@media (max-width: 1366px) {
  .earthBgLine .textInformation {
    padding-left: 70px;
  }
}
@media (max-width: 1080px) {
  .earthBgLine .textInformation {
    padding-top: 70px;
    padding-right: 70px;
  }
}
@media (max-width: 991px) {
  .earthBgLine .textInformation {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .earthBgLine .ctrlImgBlock {
    right: 0;
    top: 0;
  }
}
@media (max-width: 991px) {
  .earthBgLine .ctrlImgBlock .img {
    border-radius: 30px;
  }
}

.aboutLogo {
  min-height: 600px;
}
@media (max-width: 820px) {
  .aboutLogo {
    margin-bottom: 60px;
  }
}
.aboutLogo .ctrlFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 130px 70px 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1280px) {
  .aboutLogo .ctrlFlex {
    padding: 130px 50px 70px;
  }
}
@media (max-width: 820px) {
  .aboutLogo .ctrlFlex {
    padding: 50px;
  }
}
@media (max-width: 480px) {
  .aboutLogo .ctrlFlex {
    display: block;
  }
}
.aboutLogo .ctrlFlex .textInformation {
  padding-left: 30px;
  padding-top: 70px;
}
@media (max-width: 1536px) {
  .aboutLogo .ctrlFlex .textInformation {
    padding-top: 40px;
  }
}
@media (max-width: 991px) {
  .aboutLogo .ctrlImgBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991px) {
  .aboutLogo .ctrlImgBlock .imgBlock .pdImg {
    text-align: center;
  }
}

@media (max-width: 1536px) {
  .aboutMarkets {
    min-height: 600px;
  }
}
@media (max-width: 991px) {
  .aboutMarkets .ctrlImgBlock .img {
    border-radius: 30px;
    width: 100%;
  }
}
.aboutMarkets .textInformation {
  padding-left: 143px;
  padding-top: 113px;
}
@media (max-width: 1536px) {
  .aboutMarkets .textInformation {
    padding: 50px;
  }
}
@media (max-width: 640px) {
  .aboutMarkets .textInformation {
    padding: 20px;
  }
}

.fourPhilosophyBlock {
  background: #EFF7FF;
  border-radius: 5rem;
  padding: 50px;
}
@media (max-width: 640px) {
  .fourPhilosophyBlock {
    padding: 50px 0;
  }
}
.fourPhilosophyBlock .textInformation {
  text-align: center;
  max-width: 840px;
  margin: auto;
}
.fourPhilosophyBlock .textInformation .titleL {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .fourPhilosophyBlock .textInformation .titleL {
    margin-bottom: 10px;
  }
}
.fourPhilosophyBlock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.fourPhilosophyBlock ul li {
  width: calc(50% - 140px);
  margin: 70px;
}
@media (max-width: 1112px) {
  .fourPhilosophyBlock ul li {
    width: calc(50% - 60px);
    margin: 30px;
  }
}
@media (max-width: 640px) {
  .fourPhilosophyBlock ul li {
    width: calc(100% - 1px);
    margin: 0;
    margin-bottom: 40px;
  }
}
.fourPhilosophyBlock ul li .img {
  border-radius: 40px;
  overflow: hidden;
  aspect-ratio: 6/4;
  margin-bottom: 40px;
}
@media (max-width: 820px) {
  .fourPhilosophyBlock ul li .img {
    margin-bottom: 0;
  }
}
.fourPhilosophyBlock ul li .titleL {
  margin-bottom: 30px;
}
@media (max-width: 820px) {
  .fourPhilosophyBlock ul li .titleL {
    margin-bottom: 0;
  }
}

.ctrlScroBlock {
  overflow-x: auto;
}

.horizontalScrollBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.horizontalScrollBlock .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 180px 100px;
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block {
    padding: 70px 40px;
  }
}
.horizontalScrollBlock .block:nth-child(even) {
  background-color: #F6F6F6;
}
.horizontalScrollBlock .block .yearBlock {
  width: 510px;
  position: relative;
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block .yearBlock {
    width: auto;
  }
}
.horizontalScrollBlock .block .yearBlock .year {
  font-size: 200px;
  position: absolute;
  top: -193px;
  right: 0;
}
@media (max-width: 820px) {
  .horizontalScrollBlock .block .yearBlock .year {
    font-size: 150px;
    top: -143px;
    right: 46px;
  }
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block .yearBlock .year {
    font-size: 100px;
    top: -98px;
    right: 0;
  }
}
.horizontalScrollBlock .block .yearBlock .img {
  border-radius: 40px;
  overflow: hidden;
  aspect-ratio: 4/6;
  width: 378px;
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block .yearBlock .img {
    width: 270px;
  }
}
.horizontalScrollBlock .block .eventBlock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.horizontalScrollBlock .block .eventBlock ul li {
  margin-right: 70px;
  margin-left: 70px;
  width: 420px;
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block .eventBlock ul li {
    margin-right: 50px;
    margin-left: 50px;
  }
}
.horizontalScrollBlock .block .eventBlock ul li:nth-child(even) {
  padding-top: 80px;
}
.horizontalScrollBlock .block .eventBlock ul li .date {
  font-size: 23px;
  color: #999;
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block .eventBlock ul li .date {
    font-size: 1.2rem;
  }
}
.horizontalScrollBlock .block .eventBlock ul li .title {
  font-size: 23px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .horizontalScrollBlock .block .eventBlock ul li .title {
    font-size: 1.2rem;
  }
}
.horizontalScrollBlock .block .eventBlock ul li .img {
  aspect-ratio: 6/4;
  overflow: hidden;
  border-radius: 40px;
  margin-top: 30px;
}

.pageSidebarContent .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pageSidebarContent .wrap .pageSidebar {
  width: 20%;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  position: sticky;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: solid 1px #E0E0E0;
  padding: 35px 30px 35px 110px;
  border-radius: 0 30px 30px 0;
  margin-top: 12%;
}
.pageSidebarContent .wrap .pageContent {
  width: 80%;
}

.pageProductShowTop {
  margin-top: 80px;
}
@media (max-width: 480px) {
  .pageProductShowTop {
    margin-top: 0;
  }
}
.pageProductShowTop .pageContent {
  padding-top: 0;
}

.ctrlPdPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: sticky;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 991px) {
  .ctrlPdPic {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 820px) {
  .ctrlPdPic {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .ctrlPdPic {
    width: 80%;
  }
}
@media (max-width: 640px) {
  .ctrlPdPic {
    width: 87%;
  }
}
.ctrlPdPic .swiper-slide {
  padding: 5px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media (max-width: 480px) {
  .ctrlPdPic .swiper-slide {
    margin-bottom: 15px;
  }
}
.ctrlPdPic .swiper-slide img {
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1366px) {
  .ctrlPdPic .swiper-slide img {
    border-radius: 15px;
  }
}

.pageProductShowTop .swiper-button-next,
.pageProductShowTop .swiper-button-prev {
  border: 0;
}

.pageProductShowTop .swiper-button-next:after,
.pageProductShowTop .swiper-button-prev:after {
  color: #000;
}

.pageProductShowTop .swiper-button-next:after {
  content: "\f285";
}

.pageProductShowTop .swiper-button-prev:after {
  content: " \f284";
}

.mySwiper2 {
  width: calc(100% - 200px);
  margin-left: 10px;
}
@media (max-width: 1563px) {
  .mySwiper2 {
    width: calc(100% - 150px);
  }
}
@media (max-width: 1112px) {
  .mySwiper2 {
    width: calc(100% - 100px);
  }
}
@media (max-width: 480px) {
  .mySwiper2 {
    width: 100%;
    margin: 0;
  }
}
.mySwiper2 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mySwiper2 .swiper-slide .popup-youtube::before {
  content: url(../images/products/video.png);
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mySwiper {
  height: 650px;
  width: 140px;
}
@media (max-width: 1563px) {
  .mySwiper {
    height: 600px;
  }
}
@media (max-width: 1440px) {
  .mySwiper {
    width: 120px;
    height: 560px;
  }
}
@media (max-width: 1348px) {
  .mySwiper {
    height: 500px;
  }
}
@media (max-width: 1112px) {
  .mySwiper {
    width: 100px;
    height: 430px;
  }
}
@media (max-width: 991px) {
  .mySwiper {
    height: 490px;
  }
}
@media (max-width: 640px) {
  .mySwiper {
    height: 420px;
  }
}
@media (max-width: 480px) {
  .mySwiper {
    display: none;
  }
}
.mySwiper .swiper-slide img {
  width: 139px;
}

.produxtH1 {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .produxtH1 {
    text-align: center;
  }
}

.pdShowChoise {
  border-bottom: solid 1px #E0E0E0;
  padding: 30px 40px 45px 40px;
  font-size: 16px;
}
@media (max-width: 480px) {
  .pdShowChoise {
    padding: 10px;
  }
}
.pdShowChoise .choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 480px) {
  .pdShowChoise .choise {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.pdShowChoise .choise .lable {
  margin-right: 10px;
  width: 15%;
}
@media (max-width: 480px) {
  .pdShowChoise .choise .lable {
    width: 100%;
    margin-bottom: 30px;
  }
}
.pdShowChoise .choise ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 480px) {
  .pdShowChoise .choise ul {
    width: 100%;
  }
}
.pdShowChoise .choise ul li {
  margin-right: 20px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .pdShowChoise .choise ul li {
    margin-right: 0;
  }
}
.pdShowChoise .choise ul li.isActive button span {
  border-color: #002080;
  color: #002080;
}
.pdShowChoise .choise ul li:hover button span {
  border-color: #002080;
  color: #002080;
}
.pdShowChoise .choise ul li button {
  border: 0;
  background: rgba(0, 0, 0, 0);
}
.pdShowChoise .choise ul li button span {
  padding: 8px 25px;
  border-radius: 99em;
  border: solid 2px #E0E0E0;
  color: #E0E0E0;
}

.pdShowfunction {
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .pdShowfunction {
    padding: 0;
  }
}

.pdShowFeature {
  padding: 30px 40px;
}
.pdShowFeature p {
  border-left: solid 7px #999;
  padding: 20px;
}

.pdShowAccordion .accordion-item {
  margin-bottom: 30px;
  border-radius: 40px;
  overflow: hidden;
  background: #F6F6F6;
  border: 0;
  padding: 20px;
}
.pdShowAccordion .accordion-item button {
  font-size: 23px;
  padding: 40px 50px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #222;
}
@media (max-width: 640px) {
  .pdShowAccordion .accordion-item button {
    padding: 15px;
  }
}
.pdShowAccordion .accordion-item .accordion-body {
  color: #222;
  font-size: 19px;
  border-top: solid 3px #fff;
  padding-top: 40px;
}

.liStyle ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 30px;
}
.liStyle ul li::before {
  content: url(../images/products/li.png);
  position: absolute;
  left: 0;
}

.linkBrand {
  overflow-x: scroll;
  padding-bottom: 20px;
}
.linkBrand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1294px;
}
.linkBrand ul li {
  margin-left: 7px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 5px;
  position: relative;
}
.linkBrand ul li:hover a::after {
  opacity: 0.9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.linkBrand ul li:hover a span {
  color: #fff;
  position: relative;
  z-index: 2;
}
.linkBrand ul li a {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 99em;
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.linkBrand ul li a::after {
  content: "";
  background: #002080;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.pdShowAccordion .accordion-button.collapsed::after {
  content: "+" !important;
  background-image: none;
}

.pdShowAccordion .accordion-button:not(.collapsed)::after {
  content: "-" !important;
  background-image: none;
}

.pdShowAccordion .accordion-button::after {
  font-size: 3rem;
  font-weight: 100;
  background: #002080;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 99em;
  line-height: 0;
  padding: 12px 2px 0;
}

.pdShowAccordion .accordion-button:not(.collapsed)::after {
  padding: 9px 4px 0;
}

.pdShowAccordion .accordion-button.open-footer::after,
.pdShowAccordion .accordion-button:not(.collapsed)::after {
  margin-left: auto;
}

.tagBlock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tagBlock ul li {
  background: #99CCFF;
  border-radius: 10px 30px 30px 10px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
}
.tagBlock ul li::after {
  content: "";
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 99em;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 10px;
}
.tagBlock ul li button {
  padding: 10px 29px 10px 15px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}
.tagBlock ul li button span {
  color: #222;
}

.pageProductShowBottom {
  padding-top: 120px;
}
@media (max-width: 480px) {
  .pageProductShowBottom {
    padding-top: 30px;
  }
}
.pageProductShowBottom .pdShowInfoBlock {
  margin-bottom: 260px;
}
@media (max-width: 1440px) {
  .pageProductShowBottom .pdShowInfoBlock {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .pageProductShowBottom .pdShowInfoBlock {
    margin-bottom: 50px;
  }
}
.pageProductShowBottom .pdShowInfoBlock .pdShowtext {
  padding: 90px;
}
@media (max-width: 1112px) {
  .pageProductShowBottom .pdShowInfoBlock .pdShowtext {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .pageProductShowBottom .pdShowInfoBlock .pdShowtext {
    padding: 10px;
    margin-top: 20px;
  }
}

.pdShowtitle {
  margin-bottom: 30px;
  padding: 20px;
}
@media (max-width: 640px) {
  .pdShowtitle {
    border: solid 2px #002080;
    border-radius: 99em;
  }
}
.pdShowtitle span {
  font-size: 23px;
  padding: 10px 20px;
  color: #002080;
  border: solid 2px #002080;
  border-radius: 99em;
}
@media (max-width: 991px) {
  .pdShowtitle span {
    font-size: 1.2rem;
  }
}
@media (max-width: 640px) {
  .pdShowtitle span {
    border: 0;
  }
}

.pdShowInfoBlock .ctrlImgBlock {
  position: relative;
}
.pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock::after {
  content: "";
  background: #F6F6F6;
  width: 970px;
  height: 514px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
@media (max-width: 1536px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock::after {
    width: 880px;
    height: 450px;
  }
}
@media (max-width: 1440px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock::after {
    width: 800px;
    height: 400px;
  }
}
@media (max-width: 1112px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock::after {
    width: 680px;
    height: 315px;
  }
}
@media (max-width: 1080px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock::after {
    width: 660px;
    height: 300px;
  }
}
@media (max-width: 991px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock::after {
    display: none;
  }
}
.pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock .pdShowImg {
  aspect-ratio: 6/4;
  overflow: hidden;
}
@media (max-width: 991px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock .pdShowImg {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .pdShowInfoBlock .ctrlImgBlock .pdShowImgBlock .pdShowImg {
    width: 100%;
  }
}

.pdShowTextLeft .ctrlImgBlock .pdShowImgBlock::after {
  content: "";
  top: 53px;
  right: -140px;
  border-radius: 40px 0 0 40px;
}
.pdShowTextRight .ctrlImgBlock .pdShowImgBlock::after {
  content: "";
  top: 53px;
  left: -140px;
  border-radius: 0 40px 40px 0;
}
.wrapInside {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 640px) {
  .wrapInside {
    margin-bottom: 50px;
  }
}
.wrapInside .title {
  margin-bottom: 20px;
  font-size: 23px;
}
.wrapInside .info {
  font-size: 19px;
}

.backBtn {
  text-align: center;
  border-top: solid 1px #99CCFF;
  padding-top: 80px;
}

.btn.backArrow::after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.btn.backArrow:hover:before {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}