//---------------------側選單+內容區 ---------------------//
.pageSidebarContent{
  .wrap{
      display: flex;
      .pageSidebar{
          width: 20%;
          transform: translateX(-100px);
          position: sticky;
          top: 0;
          align-self: flex-start;
          border: solid 1px $gray;
          padding: 35px 30px 35px 110px;
          border-radius: 0 30px 30px 0;
          margin-top: 12%;
      }
      .pageContent{
          width: 80%;
          
      }
  }
}


//-----------------產品 左側選單------------------------//
// .accordion-button::after {
//     content: '+' !important;
//     font-size: 1.25rem;
//     line-height: 1.25rem;
//   }

 

  //-----------------產品 詳細頁------------------------//
  .pageProductShowTop {
    margin-top: 80px;
    .pageContent{
      padding-top: 0;
    }
}
  //產品
  .ctrlPdPic {
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;
    align-self: flex-start;
    @media (max-width: 991px) {
     width: 60%;
     margin: auto;
    }
    @media (max-width: 640px) {
      width: 80%;
     }
}
.swiper-slide {
  padding: 5px;
  img {
    border-radius: 25px;
    box-shadow: 1px 1px 7px 1px rgba(0%, 0%, 0%, 0.1);
    @media (max-width: 1366px) {
      border-radius: 15px;
    }
}
}

//大圖按鈕
.pageProductShowTop .swiper-button-next, 
.pageProductShowTop .swiper-button-prev {
  border: 0;
}
.pageProductShowTop .swiper-button-next:after, 
.pageProductShowTop .swiper-button-prev:after {
  color: #000;
}
.pageProductShowTop .swiper-button-next:after {
  content: "\F285";
}
.pageProductShowTop .swiper-button-prev:after {
  content: " \F284";
}
//大圖
.mySwiper2{
  max-width: 625px;
  @media (max-width: 1440px) {
    max-width:550px;
 }
 @media (max-width: 1366px) {
  max-width:520px;
}
 @media (max-width: 1280px) {
  max-width:480px;
}
@media (max-width: 1080px) {
  max-width: 400px;
}
@media (max-width: 1024px) {
  max-width: 375px;
}
@media (max-width: 991px) {
  max-width: 100%;
  text-align: center;
}
}
//小圖
.mySwiper{
    height: 660px;
    @media (max-width: 1440px) {
      height: 580px;
   }
   @media (max-width: 1366px) {
    height: 545px;
 }
   @media (max-width: 1280px) {
   height:500px;
  }
  @media (max-width: 1080px) {
    height:400px;
  }
  @media (max-width: 1024px) {
    height:385px;
  }
  @media (max-width: 991px) {
display: none;
  }
    .swiper-slide{
      // height: auto !important;
      img {
        width: 139px;
    }
    }
   
  }
  //h1
  .produxtH1{
    display: block;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
    @media (max-width: 991px) {
      text-align: center;
        }
  }

  //選擇口味
  .pdShowChoise{
    border-bottom: solid 1px $gray;
    padding: 30px 40px 45px 40px;
    font-size: $mainSizeS;
    @media (max-width:480px) {
     padding: 10px;
        }
    .choise {
      display: flex;
      flex-wrap: nowrap;
      @media (max-width:480px) {
        flex-wrap: wrap;
          }
      .lable {
        margin-right: 10px;
        width:15%;
        @media (max-width:480px) {
         width: 100%;
         margin-bottom: 30px;
            }
           }
        ul{
          display: flex;
          flex-wrap: wrap;
          width: 85%;
          @media (max-width:480px) {
            width: 100%;
               }
          li{
            margin-right: 20px;
            margin-bottom: 30px;
            &.isActive{
              a{
                span{
                  border-color: $mainColor;
                  color: $mainColor;
                }
              }
            }
            &:hover{
              a{
                span{
                  border-color: $mainColor;
                  color: $mainColor;
                }
              }
            }
            a{
              span{
                padding: 8px 25px ;
                border-radius: 99em;
                border: solid 2px $gray;
                color: $gray;
              }
            }
          }
        }
  }
  }
  .pdShowfunction {
    margin-bottom: 40px;
    @media (max-width:480px) {
     padding: 0;
         }
}

//特點
  .pdShowFeature {
    padding: 30px 40px;
    p {
      border-left: solid 7px $grayDark;
      padding: 20px;
    }
}

//手風琴-特點通路
.pdShowAccordion {
  .accordion-item{
    margin-bottom: 30px;
    border-radius: 40px;
    overflow: hidden;
    background: $graybg;
    border: 0;
    padding: 20px;
    button{
      font-size: $textTitle;
      padding: 40px 50px;
      background-color: rgba(0%, 0%, 0%, 0);
      box-shadow: none;
      color: $text;
      @media (max-width:640px) {
        padding: 15px;
            }
    }
    .accordion-body{
      color: $text;
      font-size: $mainSizeL;
      border-top: solid 3px #fff;
      padding-top: 40px;
    }
  }
}

//手風琴內容
.liStyle{
  ul{
    li{
      padding-left: 30px;
      position: relative;
      margin-bottom: 30px;
      &::before{
        content: url(../images/products/li.png);
        position: absolute;
        left: 0;
      }
    }
  }
}

.linkBrand{
  overflow-x: scroll;
  padding-bottom: 20px;
  ul{
    display: flex;
    width: 1294px;
    li{
      margin-left: 7px;
      margin-right: 7px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      padding: 5px;
      position: relative;
          &:hover{
                a{
                  &::after{
                    opacity: 0.9;
                    transition: all 0.2s linear;
                  }
                  span{
                    color: #fff;
                    position: relative;
                    z-index: 2;
                  }
                }
          }
      a{
        text-align: center;
        align-content: center;
        width: 150px;
        height: 150px;
        background: #fff;
        border-radius: 99em;
        box-shadow: 1px 1px 7px 1px rgba(0%, 0%, 0%, 0.1);
        overflow: hidden;
        position: relative;
        &::after{
          content: "";
          background: $mainColor;
          z-index: 1;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
        }
         
      }
    
    }
  }
}

//手風琴按鈕
.pdShowAccordion .accordion-button.collapsed::after {
    content: '+' !important;
    background-image: none;
  }
  
  .pdShowAccordion .accordion-button:not(.collapsed)::after {
    content: '-' !important;
    background-image: none;
  }

.pdShowAccordion .accordion-button::after {
  font-size: 3rem;
  font-weight: 100;
  background: $mainColor;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 99em;
  line-height: 0;
  padding: 12px 2px 0;
}
.pdShowAccordion .accordion-button:not(.collapsed)::after {
  padding: 9px 4px 0;
}
.pdShowAccordion .accordion-button.open-footer::after, 
.pdShowAccordion .accordion-button:not(.collapsed)::after {
  margin-left: auto;
}

//tag
.tagBlock{
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      background: $blue;
      border-radius: 10px 30px 30px 10px;
      margin-right: 10px;
      position: relative;
      margin-bottom: 10px;
      &::after{
        content: "";
        background: #fff;
        width: 10px;
        height: 10px;
        border-radius: 99em;
        position: absolute;
        transform: translateY(-50%);
        top:50%;
        right: 10px;
      }
      a{
        padding: 10px 29px 10px 15px;
        span{
         
        
        }
      }
    }
  }
}


//詳細頁下方內容區
.pageProductShowBottom {
  padding-top: 120px;
  @media (max-width:480px) {
    padding-top: 30px;
 }
  .pdShowInfoBlock{
    margin-bottom: 260px;
    @media (max-width: 1440px) {
      margin-bottom: 100px;
   }
   @media (max-width:480px) {
    margin-bottom: 50px;
 }
    .pdShowtext {
      padding: 90px;
      @media (max-width: 1080px) {
       padding: 40px;
     }
     @media (max-width: 480px) {
      padding: 10px;
      margin-top: 20px;
    }
    }
  }
}

.pdShowtitle{
  margin-bottom: 30px;
  border: solid 2px $mainColor;
  border-radius: 99em;
  padding: 20px;
  span {
    font-size: $textTitle;
    padding: 10px 20px;
    color: $mainColor;
    // border: solid 2px $mainColor;
    // border-radius: 99em;
    @media (max-width: 991px) {
     font-size: 1.2rem;
    }
  }
}

//
.pdShowInfoBlock{
  .ctrlImgBlock{
    position: absolute;
    @media (max-width: 991px) {
     position: relative;
   }
  }
}
.pdShowImgBlock {
  position: relative;
}
.pdShowBg {
  // background: $graybg;
  background: $graybg;
  height: 514px;
  position: absolute;
  top: 51px;
  z-index: -1;
}

//圖右
.pdShowTextLeft{

  .ctrlImgBlock{
    right: 0;
    .pdShowImg{
      position: relative;
      left: -155px;
      @media (max-width: 1440px) {
        width: 80%;
        left: 130px;
     }
     @media (max-width:1080px) {
      left: 273px;
      width: 60%;
   }
   @media (max-width:991px) {
    left: auto;
    width: 70%;
    margin: auto;
 }
 @media (max-width:480px) {
 width: 100%;
}
    }
    .pdShowBg{
      border-radius: 40px 0 0 40px;
      width: 979px;
      left: -173px;
      @media (max-width: 1440px) {
        width: 694px;
        left: 109px;
        height: 400px;
    }
    @media (max-width: 1080px) {
      width: 560px;
      left: 245px;
      height: 300px;
  }
  @media (max-width:991px) {
   display: none;
 }
     }
    }
  }




//圖左
.pdShowTextRight{

  .ctrlImgBlock{
    left: 0;
    .pdShowImg{
      position: relative;
      right: -155px;
      @media (max-width: 1440px) {
        width: 80%;
        right: -25px;
     }
     @media (max-width:1080px) {
      width: 60%;
      right: -50px;
   }
   @media (max-width:991px) {
   right: auto;
    width: 70%;
    margin: auto;
 }
 @media (max-width:480px) {
  width: 100%;
 }
    }
    .pdShowBg{
      border-radius: 0 40px  40px 0;
      width: 979px;
      @media (max-width: 1440px) {
        width: 694px;
        right: 108px;
        height: 400px;
     }
     @media (max-width: 1080px) {
      width: 560px;
      height: 300px;
      right: 245px;
   }
   @media (max-width:991px) {
   display: none;
 }

    }
  }

}

//編輯區

.wrapInside {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px;
  .title{
    margin-bottom: 20px;
    font-size: $textTitle;
  }
  .info{
    font-size: $mainSizeL;
  }
}

  //back btn
  .backBtn {
    text-align: center;
    border-top: solid 1px $blue;
    padding-top: 80px;
}
.btn.backArrow::after{
  transform: scaleX(-1);
}
.btn.backArrow:hover:before {
  transform: scaleX(-1);
}
