//-------------color------------------//
$text:#222!default;
$mainColor:#002080 !default;//主內容色
$hoverColor:#002080 !default;
$blue:#99CCFF!default;
$blueLighten:#EFF7FF!default;
$gray:#E0E0E0!default;
$grayDark:#999!default;
$graybg:#F6F6F6!default;


//-------------font------------------//
// $defaultFontFamily: "Outfit", "Noto Sans TC", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
$titleL:60px;//最大標題
$title: 36px; //大標題 h1~h3
$textTitle: 23px; //小標題
$mainSizeL:19px; 
$mainSize: 17px;   // 版面主要字體尺寸
$mainSizeS: 16px; 